<ion-view view-title="Details" transitiontype="slide" direction="right" go-native>
  <ion-content class="detail-page" ng-show="bulletinShow">
    <div class="list">
      <div class="item item-divider">
        {{ bulletinDetails.title }}
      </div>
      <div class="item item-body">
        {{ bulletinDetails.description }}
        <p ng-if="item.from != null && item.to != null">
          <i class="ion-ios-clock-outline"></i>
          {{ item.from }} - {{ item.to }}
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
