<ion-view view-title="BeeHRM" 
transitiontype="slide" direction="left" go-native>
    <ion-content class="has-footer has-tabs">
        <div class="dashboard">
            <div class="profile-bg" style="background-image: url(img/profile-bg.jpg);">
                <div class="profile-bg-overlay"></div>
                <div class="profile">
                    <div class="text-center" style="margin: 0 auto;">
                        <img src="img/profile.jpg" class="img-circle img-centered profile-pic" alt="">
                        <div class="profile-name">
                            Keshav Oli
                        </div>
                        <div class="profile-deg">
                            Jr. Customer Support
                        </div>
                    </div>
                </div>
            </div>
            <ion-list>
				<div class="item item-divider">
				   <i class="ion-speakerphone"></i> Bulletin Board
				</div>
		        <ion-item ng-repeat="item in items" 
		                  item="item"
		                  href="#/item/{{item.id}}" class="fx-fade-left fx-speed-2000">
		          <h2>{{ item.title }}</h2>
		          <p><i class="ion-ios-clock-outline"></i> {{ item.dt }}</p>
		        </ion-item>

		      </ion-list>
        </div>
    </ion-content>
</ion-view>
