<ion-view hide-nav-bar="false" view-title="BeeHRM" transitiontype="slide" direction="left" go-native show-footer show-tabs hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-footer has-tabs">
    <div class="dashboard">
      <div class="profile-bg" style="background-image: url(img/profile-bg.jpg);">
        <div class="profile-bg-overlay"></div>
        <div class="profile">
          <div class="text-center" style="margin: 0 auto;">
            <img src="{{ userInfo.image }}" class="img-circle img-centered profile-pic" alt="">
            <div class="profile-name">
              {{ userInfo.name }}
            </div>
            <div class="profile-deg">
              {{ userInfo.designation }}
            </div>
          </div>
        </div>
      </div>
      <ion-list>
        <div class="item item-divider">
          <i class="ion-speakerphone"></i> Bulletin Board
        </div>
        <ion-item collection-repeat="item in bulletinBoard" item="item" href="#/app/bulletinBoards/{{item.id}}" class="fx-fade-left fx-speed-2000">
          <h2>{{ item.title }}</h2>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
