<ion-view view-title="Events"
transitiontype="slide" direction="right" go-native>
  <ion-content class="list-page">
        <ion-list>
            <ion-item collection-repeat="item in events" item="item" item-width="100%" item-height="90px" class="item-remove-animate item-text-wrap">
                <!-- <span class="item-calender">
                    <span class="year">S: {{ item.day }}-{{ item.month }}-{{ item.year }}</span>
                    <span class="year">E: {{ item.endDay }}-{{ item.endMonth }}-{{ item.endYear }}</span>
                </span> -->
                <h2>{{ item.title }}</h2>
                <p>
                  <i class="ion-android-calendar"></i> Start: {{ item.day }} {{ item.month }},{{ item.year }}
                </p>
                <p>
                  <i class="ion-android-calendar"></i> End: {{ item.endDay }}  {{ item.endMonth }},{{ item.endYear }}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
