<ion-view view-title="My Leaves" transitiontype="slide" direction="left" go-native show-leave-tabs show-leave-footer ng-show="show">
  <ion-content class="list-page has-footer has-tabs">

    <ion-list class="calender">
      <ion-item collection-repeat="item in applications" item="item" item-height="50px" item-width="100%" href="#/app/leaves/{{item.id}}" class="item-remove-animate item-icon-list">
        <span class="item-calender">
          <span class="day">{{ item.day }}</span>
          <span class="month">{{ item.month }}</span>
        </span>
        <h2 class="truncate">{{ item.subject }}</h2>
        <span class="badge">
          <i ng-class="{'ion-ios-checkmark-outline balanced': item.status == 'approved', 'ion-ios-close-outline assertive': item.status == 'rejected', 'ion-ios-minus-outline energized': item.status == 'pending'}"></i>
        </span>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore({{ total_pages }}, {{ current_page}})" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
