<ion-view view-title="Leave Balance" transitiontype="slide" direction="right" go-native show-leave-tabs>
  <ion-content class="detail-page has-tabs">
    <ion-list ng-repeat="list in leaveBalance">
      <ion-item class="item-divider">
        {{ list.label }}
      </ion-item>
      <ion-item>
        Entitlement
        <span class="badge badge-accent">{{ list.days }}</span>
      </ion-item>
      <ion-item>
        Leave Taken
        <span class="badge badge-accent">{{ (list.days) - (list.balance) }}</span>
      </ion-item>
      <ion-item>
        Balance
        <span class="badge badge-accent">{{ list.balance }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
