<ion-view view-title="My Leaves" transitiontype="slide" direction="left" go-native hide-tabs hide-footer>
    <ion-content class="list-page has-footer">
        <ion-list>
            <ion-item ng-repeat="item in items" item="item" href="#/app/leaves/{{item.id}}" class="item-remove-animate item-icon-list">
                <h2>{{ item.title }}</h2>
                <span class="badge">
                <i ng-class="{'ion-ios-checkmark-outline balanced': item.status == 'A', 'ion-ios-close-outline assertive': item.status == 'R', 'ion-ios-minus-outline energized': item.status == 'P'}"></i>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-balanced" ng-click="applyLeave()">
    <h3 class="title">APPLY FOR LEAVE</h3>
</ion-footer-bar>
