<ion-view view-title="Details" transitiontype="slide" direction="right" go-native>
    <ion-content class="detail-page">
        <div class="list" style="margin-bottom: 0px">
            <div class="item item-divider">
                Earnings
            </div>
            <div class="item">
                Basic Pay <span class="badge badge-accent">40,645.16</span>
            </div>
            <div class="item">
                Overtime : 1 days <span class="badge badge-accent">2,177.42</span>
            </div>
            <div class="item item-divider">
                Total Earnings <span class="badge badge-accent">42,822.58</span>
            </div>
        </div>
        <div class="list" style="margin-bottom: 0px">
            <div class="item item-divider">
                Saving Organizations
            </div>
            <div class="item">
                CIT <span class="badge badge-accent">14,131.4</span>
            </div>
            <div class="item item-divider">
                Total Saving <span class="badge badge-accent">14,131.4</span>
            </div>
            <div class="item item-divider">
                Payable Gross Salary <span class="badge badge-accent">28,691.13</span>
            </div>
        </div>
        <div class="list" style="margin-bottom: 0px">
            <div class="item item-divider">
                Tax
            </div>
            <div class="item">
                1% slab <span class="badge badge-assertive">(250.00)</span>
            </div>
            <div class="item">
                15% slab <span class="badge badge-assertive">(553.67)</span>
            </div>
            <div class="item item-divider">
                Total Tax <span class="badge badge-assertive">(803.67)</span>
            </div>
        </div>
        <div class="list" style="margin-bottom: 0px">
            <div class="item item-divider">
                Net Pay <span class="badge badge-balanced">27,887.46</span>
            </div>
        </div>
    </ion-content>
</ion-view>
